@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body {
  background-color: #f6f7f8 !important;
  /* background-color: #c9c9c9 !important; */
  font-family: 'Manrope', sans-serif !important;
}

.mdl-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cacaca;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}
